h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
p,
span,
div,
body,
html {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

iframe {
  max-width: 600px;
  width: 100%;
}

button,
input {
  outline: none;
  background: none;
  border: none;
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "706";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/news.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Belissimo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Belissimo-script.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "CambriaFont";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Cambria.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  margin: 50% auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  font-family: Montserrat;
  width: 50%;
  text-align: center;
}

.modal-button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  background: none;
  background-color: #0c2c65;
  color: #fff;
}

.menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #f6f6f6;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu li {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #5f5f5f;
  font-size: 15px;
  font-weight: 400;
}

.menu-open {
  left: 0;
}

.menu-button {
  cursor: pointer;
}

.menu-icon {
  color: #5f5f5f;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Overlay background color and opacity */
  display: none;
  z-index: 99;
}

.menu-open + .menu-overlay {
  display: block;
}

.close-button {
  cursor: pointer;
  font-size: 24px;
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  /* Adjust the right position */
}

.navbar__logo {
  font-size: 20px;
  color: #fff;
  font-family: Montserrat;
  display: flex;
  align-items: center;
  font-family: Belissimo;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}

.navbar__span {
  margin-bottom: 15px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(248, 248, 248, 0.145);
  -webkit-backdrop-filter: blur(20px) brightness(110%);
  backdrop-filter: blur(20px) brightness(110%);
  color: #fff;
  z-index: 100;
  padding-top: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.navbar__btn {
  background: 0 0;
  border: none;
  cursor: pointer;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
  top: calc(50% + 150px);
  transform: rotate(0deg);
  cursor: pointer;
  margin-top: 70px;
}

.arrow span {
  display: block;
  width: 4.5vw;
  height: 4.5vw;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.hero {
  height: 100vh;
  position: relative;
  background-image: url("../../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 44, 101, 0.5);
  z-index: 0;
}
.hero::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 240px;
  height: 215px;
  bottom: 0;
  right: 0;
  background-image: url("../../img/hero-right-bottom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}
.hero__container {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero__container::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 358px;
  height: 520px;
  top: calc(0% + 10px);
  right: calc(0% - 20px);
  background-image: url("../../img/hero-right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}
.hero__container::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 140px;
  height: 310px;
  bottom: 0;
  left: calc(0% - 20px);
  background-image: url("../../img/hero-left-bottom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}
.hero__header {
  font-size: 64px;
  color: #fff;
  font-family: Belissimo;
  font-weight: 400;
}
.hero__header-wrapper {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__subheader {
  margin-bottom: 50px;
  font-family: CambriaFont;
  text-align: center;
  font-size: 32px;
  color: #fff;
}
.hero__kuyov {
  line-height: 40px;
}
.hero__va {
  line-height: 70px;
}
.hero__kelin {
  line-height: 80px;
  margin-left: 50px;
}

.invit {
  position: relative;
  background-image: url("../../img/invit-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.invit::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 44, 101, 0.5);
  z-index: 0;
}
.invit__body {
  text-align: center;
  font-family: "CambriaFont";
  font-size: 20px;
}
.invit__add-wrapper {
  position: relative;
  z-index: 1;
  position: relative;
}
.invit__add-wrapper::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 65px;
  height: 200px;
  top: calc(0% - 65px);
  right: 0;
  background-image: url("../../img/invit-top.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.invit__add-wrapper::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 65px;
  height: 200px;
  bottom: 0;
  left: 0;
  background-image: url("../../img/invit-bottom.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.invit__container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 150px;
  color: #fff;
}
.invit__header {
  font-family: Belissimo;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
}
.invit__img {
  width: 100%;
  position: absolute;
  bottom: calc(0% - 60px);
}

.calendar {
  position: relative;
  background-image: url("../../img/calendar-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.calendar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 44, 101, 0.5);
  z-index: 0;
}
.calendar::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 65px;
  height: 200px;
  bottom: calc(0% - 90px);
  right: 0;
  background-image: url("../../img/invit-top.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
}
.calendar__container {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
  color: #fff;
}
.calendar__date {
  font-family: "706";
  font-size: 48px;
}
.calendar__img {
  max-width: 600px;
  width: 100%;
}
.calendar__time {
  text-align: center;
  font-family: "706";
  font-size: 24px;
  margin-bottom: 36px;
}
.calendar__img-wrapper {
  position: relative;
}
.calendar__img-wrapper::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 60px;
  height: 60px;
  bottom: calc(0% - 11px);
  left: calc(0% - 13px);
  background-image: url("../../img/ring.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.calendar__weekday {
  font-family: Belissimo;
  font-size: 32px;
  font-weight: 400;
}
.calendar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
  margin-bottom: 5px;
}

.map {
  position: relative;
  background-image: url("../../img/map-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.map::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 44, 101, 0.5);
  z-index: 0;
}
.map::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100px;
  height: 200px;
  bottom: calc(0% - 80px);
  left: 0;
  background-image: url("../../img/map-bottom.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
}
.map__btn {
  padding: 8px 10px;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  font-family: CambriaFont;
  font-size: 18px;
  margin-top: 25px;
  cursor: pointer;
}
.map__container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}
.map__header {
  font-family: Belissimo;
  font-size: 48px;
  line-height: 45px;
  margin-bottom: 7px;
  font-weight: 400;
}
.map__location {
  font-family: CambriaFont;
  font-size: 16px;
  margin-bottom: 50px;
  font-weight: 400;
}
.map__subheader {
  font-family: CambriaFont;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.map__subtext {
  font-family: CambriaFont;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.program {
  position: relative;
  background-image: url("../../img/program-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.program::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 44, 101, 0.5);
  z-index: 0;
}
.program::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 490px;
  top: calc(0% - 90px);
  left: 0;
  background-image: url("../../img/program-top.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
}
.program__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 1;
  padding-top: 80px;
  padding-bottom: 80px;
}
.program__event {
  text-align: center;
  font-family: CambriaFont;
  font-size: 20px;
}
.program__header {
  font-family: Belissimo;
  font-size: 48px;
  line-height: 45px;
  font-weight: 400;
  margin-bottom: 45px;
}
.program__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 70px;
}
.program__item:nth-child(2n-1) {
  margin-right: 200px;
}
.program__item:nth-child(2n) {
  margin-left: 200px;
}
.program__item::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e6c653;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: calc(0% + 50px);
  z-index: 111;
  left: calc(50% + 91px);
}
.program__item:nth-child(2)::before {
  left: calc(50% - 109px);
}
.program__item:nth-child(4)::before {
  left: calc(50% - 109px);
}
.program__item:nth-child(6)::before {
  left: calc(50% - 109px);
}
.program__item::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  top: calc(0% - 10px);
}
.program__item:nth-child(2)::after {
  background-image: url("../../img/Gift.svg");
}
.program__item:nth-child(3)::after {
  background-image: url("../../img/Vector.svg");
}
.program__list {
  position: relative;
}
.program__list::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 3px;
  height: 630px;
  border-radius: 1px;
  background-color: #fff;
  left: 50%;
  top: calc(0% + 55px);
}
.program__time {
  font-family: CambriaFont;
  font-size: 22px;
}

.form {
  position: relative;
  background-image: url("../../img/form-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.form::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 44, 101, 0.5);
  z-index: 0;
}
.form::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100px;
  height: 225px;
  top: calc(0% - 90px);
  right: 0;
  background-image: url("../../img/form-top.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
}
.form__btn {
  padding: 8px 16px;
  background-color: #fff;
  border-radius: 40px;
  font-family: CambriaFont;
  margin-top: 15px;
}
.form__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 1;
}
.form__control {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.form__header {
  font-family: Belissimo;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 15px;
}
.form__input {
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 40px;
  margin-bottom: 10px;
  font-family: CambriaFont;
  color: #fff;
}
.form__input::-moz-placeholder {
  color: #fff;
  font-family: CambriaFont;
}
.form__input::placeholder {
  color: #fff;
  font-family: CambriaFont;
}
.form__input-name {
  margin-bottom: 5px;
  font-family: CambriaFont;
}
.form__subheader {
  font-family: CambriaFont;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */